img {
  max-width: 100%;
}
.gallery {
  padding: 80px 0;
  margin-left: 82.75px;
}
.gallery img {
  background-color: white;
  width: 384.6px;
  height: 251.59px;
}
.companyinfo {
  height: 298.83px;
  width: 646.12px;
}
