.accordion-item,
.accordion-header {
  border: none !important;
  padding: 0px !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin-bottom: 50px;
}
.accordion-collapse:after {
  border: none !important;
  background-color: transparent !important;
}
.question {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #0c2ea0;
  margin-right: 20px;
}
