.button1 {
  background: linear-gradient(90deg, #0d277e 0%, #522b88 99.98%);
  margin-top: 219.31px;
  margin-left: 83.39px;
  width: 284.39px;
  height: 67.12px;
}
.button2 {
  background: linear-gradient(90deg, #0d277e 0%, #522b88 99.98%);
  margin-top: 50px;
  margin-left: 83.39px;
  width: 284.39px;
  height: 67.12px;
}
.button3 {
  background: linear-gradient(90deg, #0d277e 0%, #522b88 99.98%);
  margin-top: 50px;
  margin-left: 83.39px;
  width: 284.39px;
  height: 67.12px;
}
.button4 {
  background: linear-gradient(90deg, #0d277e 0%, #522b88 99.98%);
  margin-top: 50px;
  margin-left: 83.39px;
  width: 284.39px;
  height: 67.12px;
}
.section4txt {
  font-size: 25px;
  color: #000000;
  margin-bottom: 80px;
}
.btntxt {
  color: #ffffff;
  font-size: 35px;
}
.txtinfo {
  margin-left: 167.16px;
  margin-top: 50px;
}
.txtinfo2 {
  margin-left: 167.16px;
  margin-top: 40px;
}
.txtinfo3 {
  margin-left: 167.16px;
  margin-top: 40px;
}
.txtinfo3:last-child {
  border-bottom: none !important;
}
.txttitle {
  color: #000000;
  font-size: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
.txtdesc {
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
}
